<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="partials :: head" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials :: navbar" />

<form th:action="@{/posts/create}" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="body" rows="3"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<div th:replace="partials :: footer" />
</body>
</html>