<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="partials :: head"/>
    <meta charset="UTF-8">
    <title>Create a Post</title>
</head>
<body>
<nav th:replace="partials :: navbar"/>
<fieldset>
    <legend>Create a Post</legend>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}"/>
        <br/>
        Body:
        <input th:field="*{body}"/>
        <br/>
        <input type="submit"/>
    </form>
</fieldset>
<div th:replace="partials :: footer"/>
</body>
</html>