<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="partials :: head"/>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
</head>
<body>
<nav th:replace="partials :: navbar"/>
<p th:text="${post.title}"></p>
<p th:text="${post.body}"></p>

<div th:if="${post.postUser.username == #authentication.principal.username}">
    <a th:href="@{|/posts/${post.id}/edit|}">Edit</a>
</div>

<p>Posted by: <span th:text="${post.postUser.username}"></span></p>
<div th:replace="partials :: footer"/>
</body>
</html>