<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head" />
<meta charset="UTF-8" />
<title>Dice Roller</title>
</head>

<body>
<nav th:replace="partials :: navbar" />

<h1 th:text="${roll}"></h1>

<a th:href="@{/roll-dice/1}" class="btn btn-primary btn-lg">1</a>
<a th:href="@{/roll-dice/2}" class="btn btn-primary btn-lg">2</a>
<a th:href="@{/roll-dice/3}" class="btn btn-primary btn-lg">3</a>
<a th:href="@{/roll-dice/4}" class="btn btn-primary btn-lg">4</a>
<a th:href="@{/roll-dice/5}" class="btn btn-primary btn-lg">5</a>
<a th:href="@{/roll-dice/6}" class="btn btn-primary btn-lg">6</a>

<div th:replace="partials :: footer" />
</body>
</html>
